{% extends 'base.html' %}

{% block body %}
<h1 class="text-3xl font-bold mb-3">Editar Sala</h1>

<form method="post">
    {% csrf_token %}
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" value="{{ sala.nome }}" required>
    <label for="nome">Descrição:</label>
    <input type="text" name="descricao" id="descricao" value="{{ sala.descricao }}" required>
    <label for="nome">Categoria:</label>
    <select name="categoria" id="categoria" required>
        <option selected disabled></option>
        {% for categoria in categorias %}
        <option value="{{ categoria.0 }}">{{ categoria.1 }}</option>
        {% endfor %}
    </select>
    <label for="nome" id="limite">Limite:</label>
    <input type="number" name="limite" id="limite" min="1" max="99" value="{{ sala.limite_participantes }}" required>

    <input type="submit" value="Criar">
</form>

<a href="{% url 'index' %}">Voltar</a>

{% endblock %}